name: Pydoc

on: [push]

permissions:
    pages: write
    id-token: write
    contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
    - name: Set PYTHONPATH so pydoc can import from ../main
      run: |
        echo "PYTHONPATH=$(pwd)" >> $GITHUB_ENV
    - name: Autodocumenting with PyDoc
      run: |
          # Make a private directory called docs
          mkdir -p docs
          cd docs
          # Generate docs for your package and all modules
          python -m pydoc -w ../main
